:host {
  display: flex;
  border-radius: 50px;
  width: 100%;
  height: 30px;
  line-height: 30px;
  padding: 0 20px;
  background-color: red;

  .flat {
    flex: 15%;
  }

  .field {
    flex: 85%;

  }
}
